<div class="container">
	<h1 style="text-align:center;"><strong>About Us</strong></h1>
	<br><br>

	<div class="row">
	  <div class="col-md-4">CalabarMetro is a one stop net-shop that provides solution to you owning a property or renting one.
	CalabarMetro connects property owners and customers of their choice.</div>
	  <div class="col-md-4">Using CalabarMetro
	ensures that leasee meets the property owners within 24 hours of filling your requirements on our
	website.<br><br><strong>Our Vision:</strong>
	To be the ever dependable through the use our network to provide our customers with their choice
	of property within Calabar metropolis.</div>
	  <div class="col-md-4"><strong>Core Value:</strong>
	Our core value is defined by the word <i><b>SERVICE;</b></i> We are a SERVICE oriented company that ensures
	customers satisfaction.</div>
	</div>


	<br>
	<div class="container" style="text-align:center">
		<h4><strong>S</strong></h4>
		 Sincerity
		<br>
		<h4><strong>E</strong></h4>
		Effective
		<br>
		<h4><strong>R</strong></h4>
		 Reliable
		<br>
		<h4><strong>V</strong></h4>
		Visible (We are reachable)
		<br>
		<h4><strong>I</strong></h4>
		Integrity
		<br>
		<h4><strong>C</strong></h4>
		Consistent
		<br>
		<h4><strong>E</strong></h4>
		Efficient
		<!--<p>The designer of Calabar Metro have over the years observed the difficulty faced by house renters and property owners in acquiring and leasing of properties respectively, and has therefore embacked on the journey to reduce the aforementioned difficulty to its bearest minimum, by connecting renters to property owners once mutual requirements have been met.</p>
		<p>Property owners are expected to take advantage of our website to advertize their properties, rather than limit its advertisement to postals. This action is to enable property renters contact you within the shortest possible period.<br> Renters are advised to take advantage of the numerous properties of various categories displayed on the website, and save themselves the hassle of contacting people to help link them to property owners.</p>
		<p>Our mode(s) of operation with regards to our site users' privacy, is elaborated upon in the <a href="#" style="color:blue"> privacy policy</a> section of our website</p><br>
		<p>Amongst the mechanisms put in place to help solve the believed problems is a service delivery feedback option to enable us improve upon our quality of service to our website users.</p>-->


	</div>
</div>
