
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 main">
			<p style="color:#15ff05; margin-bottom:25px;">Welcome {{firstName}}, you are now logged
				in.</p>
			<h1 class="page-header">My Tent</h1>

		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-3 block">
	    <div class="circle">
	        <p>You are logged in as a Handler.</p>
	    </div>
	</div>
	<div class="col-md-3 block">
	    <div class="circle">
	        <p>Your operations may include: Creating and uploading properties with valid details, in order to be contacted within a short period.</p>
	    </div>
	</div>
	<div class="col-md-3 block">
	    <div class="circle">
	        <p>Utilize the contents of the "My Account" button to carry out these operations.</p>
	    </div>
	</div>
	<div class="col-md-3 block">
	    <div class="circle">
	        <p>Endeavour to contact us where necessary.</p>
	    </div>
	</div>
</div>

