<h1 class="text-center"><strong>Our People</strong></h1>

<p class="text-center" style="padding-bottom:40px; padding-top:40px">We are a team of diverse personalities with a true purpose to ease living. We have over the years observed the difficulty faced by house renters and property owners in acquiring and leasing of properties respectively, and as a result have embacked on this journey to reduce the aforementioned difficulty to its bearest minimum; by connecting renters to property owners once necessary requirements have been met.</p>
<div class="container">
	<div class="row">
	<h3 class="text-center" style="padding-bottom:40px"><strong>Our Team</strong></h3>
	<div class="col-md-4 block">
	    <div class="circle">
	        <img class="circleImages" src="/static/img/social/placeholder.png">
	    </div>
	        <h4>Nnang Mathew</h4>
	        <p style="padding-top:30px">Bachelor of Science (Computer Science) University of Calabar.</p>
	        <br>
	       	<p>Director and founding partner of CalabarMetro.</p>
	       	<p>He is also a web developer, an IT consultant and a systems analyst.</p>
	</div>
	<div class="col-md-4 block">
	    <div class="circle">
	        <img class="circleImages" src="/static/img/social/placeholder.png">
	    </div>
	        <h4>Chimereze Kelechi</h4>
	        <p style="padding-top:30px">MBA University of Calabar.</p>
	        <br><br>
	       	<p>Director and founding partner of CalabarMetro.</p>
	</div>
	<div class="col-md-4 block">
	    <div class="circle">
	        <img class="circleImages" src="/static/img/social/placeholder.png">
	    </div>
	        <h4>Ojoko Joseph</h4>
	        <p style="padding-top:30px">Bachelor of Science (Computer Science) University of Calabar.</p>
	        <br>
	       	<p>Director and founding partner of CalabarMetro.</p>
	       	<p>He is Programmer, an IT consultant and a systems technician.</p>
	</div>
</div>




</div>