<h1 style="text-align:center">Privacy Policy</h1>
<br>
<br>
<div style="background-color:dodger-blue">
	<p>We respect the privacy of our esteemed customers and have developed this Privacy Policy with
		you at heart. By accessing
		our website and by using our services, you are also accepting the terms of our Privacy
		Policy.
		When you use our Services we may require and use certain information such as a valid email
		address and
		password. In addition, users may create a profile that includes information such as their
		geography, first and last
		name, gender, phone number, interests and associated information, including photos they may
		wish to upload. Any
		information users share in publicly-available profiles is their own responsibility. You
		should carefully consider the
		risks of making certain personal information—particularly information such as address or
		precise location
		information—publicly available.</p>
	<br>
	<p>We may host the information, including personal information and contact information, valid
		contact information
		and password necessary to provide our Services. Much of the same information used to create
		an account or profile
		may be required to post a listing. Any information users share in listings is their own
		responsibility. Like with
		profiles, users should carefully consider the risks of making certain personal
		information—particularly information
		such as address or precise location information—publicly available in a listing.
		When you contact our customer care department, we may collect the personal information
		necessary to fulfil your
		request and to contact you for follow up as needed. We may also contact you using existing
		account contact
		information you provide to us for this purpose. We may also collect other information about
		our communications
		with our users, for example any user support requests that our users make or any feedback
		that our users provide to
		us.</p>
	<br>
	<p>We may automatically receive and log information on our servers from your browser or device
		including your IP
		address, software and hardware attributes, pages that you request, mobile identifiers, and
		other device or systems-
		level information. This can occur on our website or on third parties’ services.
		We may also append information we lawfully obtain from business partners or third parties to
		existing data we
		hold about our users.</p>
	<br>
	<p>We may collect certain information through technology like cookies, pixels and local storage
		We may allow third parties such as advertising or analytics providers to collect information
		using these types of
		technologies directly on our website . The data that they collect is subject to the
		applicable privacy policy of those
		third parties.</p>
	<br>
	<p>To provide our service we may use the information we collect and host for the following
		general purposes:
	<ol>
		<li> To provide customer services, including to create and manage user accounts, to resolve
			technical
			difficulties and to enable features;
		</li>
		<br>
		<li> To customize offers and experiences, including advertising on our properties or third
			parties’ properties;
		</li>
		<br>
		<li> To monitor general and individual user activity, such as keyword searches, postings and
			transactional
			activity, and to manage traffic on the Website;
		</li>
		<br>
		<li> To contact our users, including for service matters, customer care or permitted
			marketing
			communications via any available communications channels;
		</li>
		<br>
		<li> To undertake research initiatives and to perform analytics to improve our services;
			and
		</li>
		<br>
		<li> To enforce our Terms of Use including to combat fraud and abuse.
			We may retain information that we collect and observe on our network only for as long as
			is required to fulfil the
			above business objectives.
		</li>
	</ol>
	</p>
	<br>
	<p>We do not share personal information about our users with non-affiliated third parties unless
		we have our users’
		specific permission to do so, or in the following circumstances:.
		We reserve the right to share information with private or public authorities that will
		enable us to fight fraud
		and abuse on our network, to investigate suspected violations of law, or to fight any other
		suspected breach of our
		terms of service.</p>
	<br>
	<p>We may share personal information with government authorities as required by applicable law.
		As a matter of policy we do not rent or sell personal information about our users with
		non-affiliated third parties
		unless we have our users’ specific permission to do so.</p>
	<br>
	<p>We may share certain non-personal information (data that does not identify our users
		individually) with third-party
		service providers, trusted partners or approved researchers in order to better understand
		what advertisements or
		services may interest you, to improve the overall quality and effectiveness of our services
		or their services, or to
		contribute to academic research that we believe is of broader social benefit.</p>
	<br>
	<p>All information we collect is protected by reasonable technical means and reasonable security
		procedures in order to prevent
		unauthorized access or use of data. Our affiliates, trusted partners and third-party service
		providers have committed to
		manage the information in accordance with our requirements for security and privacy.</p>
	<br>
	<p>This Privacy Policy was last updated in January 2018. By continuing to use our services, our
		users confirm their
		acceptance of any updates to this Privacy Policy.</p>
</div>
