<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12main">
			<p style="color:#15ff05; margin-bottom:25px;">Welcome {{firstName}}, you are now logged
				in.</p>
			<h1 class="page-header">My Tent</h1>

			
		</div>
	</div>
</div>


<div class="row">
	<div class="col-md-3 block">
	    <div class="circle">
	        <p>You are logged in as a Renter.</p>
	    </div>
	</div>
	<div class="col-md-3 block">
	    <div class="circle">
	        <p>Your operations may include: Scrolling through the list of perperties or utilizing the search engine in search of your desired property</p>
	    </div>
	</div>
	<div class="col-md-3 block">
	    <div class="circle">
	        <p>These operations are available on the "My Account" button.</p>
	    </div>
	</div>
	<div class="col-md-3 block">
	    <div class="circle">
	        <p>Endeavour to contact us where necessary.</p>
	    </div>
	</div>
</div>