<div class="dropdown">
	<button class="btn btn-danger dropdown-toggle" type="button" id="sortBy" data-toggle="dropdown"
			aria-haspopup="true" aria-expanded="true">
		Sort by
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
		<li><a ng-click="search.sortOrder('location');" href="#">Location</a></li>
		<li><a ng-click="search.sortOrder('type');" href="#">Property type</a></li>
		<li><a ng-click="search.sortOrder('price');" href="#">Price</a></li>
	</ul>
</div>

<div
	ng-repeat="property in properties| filter:searchFor | limitTo: search.searchLimit | orderBy: search.sort"
	class="col-sm-3 col-xs-6">
	<div class="panel panel-default">
		<div class="panel-heading">
			<img style="max-width:100%; width:100%" ng-src="{{feat.property.src}}">
		</div>
		<div class="panel-body ">
			<p class="single-line" style="margin-bottom:0"> {{feat.property.type}}</p>
			<p class="hidden-xs" style="margin-bottom:0"><strong># {{feat.property.price}}</strong>
			</p>
			<p class="single-line" style="margin-bottom:0"><span
				class="glyphicon glyphicon-map-marker"></span> {{feat.property.location}}</p>
		</div>
		<div class="panel-footer">
			<a href="#" class="btn btn-success" onmouseenter="$(this).tooltip('show')"
			   title="Add to favorites"><span class="glyphicon glyphicon-heart"></span></a>
			<a href ng-href="/properties/{{feat.property._id}}" class="btn btn-info btn-sm"> <span
				class="glyphicon glyphicon-eye-open"></span></a></div>
	</div>
</div>
