<div class="container">
<h1 class="text-center"><strong>Terms & Conditions</strong></h1> 


<h3><em><strong>GENERAL AND DISCLAIMER</strong></em></h3>
<br>
	<ol >

		<li> CalabarMetro is a website for land/property owners, tenants, estate investors, agents and thirds parties who are interested in the sale, rental, buying and leasing of properties across Nigeria. As an enterprise, we create a community for the aforementioned transactions without primarily, and/or directly being involved in any of such except a user offers such task to the company.</li>
		<br>

		<li> Registration, access and use of this site implies being in agreement with the terms and conditions as provided by the company.</li>

		<br>
		<li>These terms and conditions are binding on the company and the user, and terms that are not stated herein shall not be implied by both parties in the course of their transactions. </li>

		<br>
		<li>Without notifying any user, the company have the right to edit and/or change any part of this terms and conditions (herein referred to as agreement), and such newly introduced terms be binding on all parties as from when it becomes viewable on this site.</li>

		<br>
		<li> All contents on this site are the intellectual property of CalabarMetro and they cannot be reproduced without the permission of the company. </li>

		<br>
		<li> As a company that provides/creates links between property providers and needy parties, we will not be held liable for losses or damages suffered by any user in the course of their transaction, and this does not exclude inconveniences that may oftentimes arise as a result of the use and inability to use this site properly. </li>

		<br>
		<li> In relation to section 1 and 6 of this agreement, a user will only have a legitimate case against the company when such a property is under the direct management of the company, with such an issue being only between the company and owner of the property in question.</li> 

		<br>
		<li> subject to section 7 above, a user will have a legitimate case against the company only when such a property was uploaded and is being managed by the company. </li> 

		<br>
		<li> The properties and details provided on this website were done by owners, agents (generally other users). Hence, we cannot verify and therefore we make no warrantee for them. Users access to and transaction with other users and the information provided are done at their own risk.</li> 

		<br>
		<li> Subject to number 9 above, the company will only be held accountable for losses suffered as a result of a property details only if it is in respect to number 8 above. </li>

		<br>
		<li> Subject to number 10 above, any house/property owner, agent, individual who offers the company a property to handle is dimmed to have provided the company with the right details concerning the property by virtue of this number, and will be held accountable for any legal and financial litigation that may arise as a result of a disgruntled customer. </li>

		<br>
		<li> The company reserve the right to restrict or block the access to the use of this site by erring users, and by so doing, any attempt by such an individual sanctioned to access this site through illegal means will be dealt with by legal actions. </li>

		<br>
		<li> Subject to 12 above, the definition of erring user of and illegal access to this site is subject to the logical discretion of the company's management. </li>

		<br>
		<li> Any attempt by any user aimed at obtaining illegal access to any page on this site, tamper with and/duplicate it's content shall be prosecuted according to the law, and damages claimed according to the losses suffered as a result of such actions. </li>

		<br>
		<li> If a user seek legal actions against the company, such an individual must do so in a court resident in Nigeria, with the losing paying to the winning party all the legal fees accrued in the course of the case, including damages to image. </li>

		<br>
		<li> As a company, we will not be held responsible for losses suffered as a result of technical errors that may often occur in the course of a user access and use of this site. Therefore, we make no claim that this site will always function to perfection. </li>

		<br>
		<li>Properties may be randomly selected, and its images used for further adverts on our external social media pages. </li>

		<br>
		<li>Our website will link users to external social platforms in the case where any of our social handles is clicked to connect with us.</li>
		<br>
		<br>
	</ol>
</div>