<div class="right-button"><a ng-click="goBack($event)" href="#"><span
	class="glyphicon glyphicon-circle-arrow-left"></span> Back</a></div>

<div class="alert alert-danger" ng-show="page_load_error">{{page_load_error}}</div>
<div ng-show="!finished_loading"><h4>
	loading ...please wait a moment</h4></div>
<div ng-show="finished_loading">

	<div class="page-header">
		{{contactagent.name}} <br>
		<span class='smaller lighter'></span>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			{{contactagent.location}}
		</div>

		<div class="panel-body">
			<p>Contact: {{contactagent.contact}} </p>
			<p>Email: {{contactagent.email}} </p>
			<p>Date: {{contactagent.createdAt | date : "MM/dd/yyyy 'at' h:mma"}} </p>
			<hr>
			<p> Message: {{contactagent.message}} </p>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="well well-sm">

				<a href="mailto:{{feedback.email}} " type="button" class="btn btn-primary" ng-if="user.role === 0">Reply</a>
				<button type="button" class="btn btn-danger" ng-click="delete(contactagent._id)" ng-if="user.role === 0"><span
					class="glyphicon glyphicon-trash"></span></button>
			</div>
		</div>
	</div>

	<div class="modal fade bs-example-modal-sm" id="deletecontactrequest" tabindex="-1" role="dialog"
		 aria-labelledby="mySmallModalLabel">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<p>Operation Status</p>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel"></h4>
				</div>
				<div class="modal-body">
					<p>Contact request deleted successfully</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
