<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 main">
			<p style="color:#15ff05; margin-bottom:25px;">Welcome {{firstName}}, you are now logged
				in.</p>
			<h1 class="page-header">Admin Dashboard</h1>

		</div>
	</div>
</div>


<div class="row">
	<div class="col-md-3 block">
	    <div class="circle">
	        <p>You are logged in as an Admin.</p>
	    </div>
	</div>
	<div class="col-md-3 block">
	    <div class="circle">
	        <p>Your operations are limitless, and may include: managing the contents on the system, responding to users' feedbacks etc. .</p>
	    </div>
	</div>
	<div class="col-md-3 block">
	    <div class="circle">
	        <p>Utilize the contents of the "My Account" button to carry out these operations.</p>
	    </div>
	</div>
	<div class="col-md-3 block">
	    <div class="circle">
	        <p>Endeavour to always use your personal computer.</p>
	    </div>
	</div>
</div>