<div id="login-wrapper" class="col-sm-4 col-sm-offset-4" style="margin-top:50px">
	<h1><strong>Request for password reset</strong></h1><br><br>
	<div class="alert alert-success"
		 ng-show="reset_email_success" role="alert">Password reset link sent successfully, check your email (spam inclusive).
	</div>
	<div class="alert alert-danger"
		 ng-show="reset_email_error" role="alert">{{reset_email_error}}
	</div>
	<form>
		<div class="form-group">

			<label for="email"><span class="glyphicon glyphicon-user"></span> Email:</label>
			<input type="email" required ng-model="user.email" ng-disabled="loading" class="form-control" id="email"
				   placeholder="Enter email" name="email" autofocus>
		</div>
		<button id="login" data-loading-text="Processing..." ng-click="sendPasswordEmail()" type="submit" class="btn btn-primary form-group">Reset password
		</button>
		<br><br>
		<p class="form-group">Don't have an account? <a href ng-href="/signup">Sign Up</a></p>
		<p class="form-group">Already reset password? <a href ng-href="/login">Login</a></p>
	</form>
</div>
